@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

.container {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

h1 {
  display: flex;
  font-family: 'Poppins', sans-serif;
  margin-top: 80px;
  margin-bottom: 0%;
  font-weight: 700;
  flex: auto;
}

h1.contact {
  /* Header / 2 */

  line-height: 52px;

  /* Neutrals/N0 */
  color: hsl(0, 0%, 100%);
}

.main-content {
  display: flex;
  padding: 10px;
  flex-direction: column;
}

.logo-container {
  /* My Logo */

  width: 4.75rem;
  height: 1.25;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.25rem;

  /* identical to box height, or 111% */

  display: flex;
  align-items: center;
  text-align: center;

  /* Primary/B400 */

  color: #6070ff;

  /* Inside auto layout */

  flex: auto;
  order: 0;
  flex-grow: 0;
}

.connect {
  /* Body / 2 - Bolder */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 8px;

  /* identical to box height, or 150% */

  /* Primary/B300 */

  color: #7f8cff;
}

button {
  background-color: white;
  border-radius: 8px;
}

button:hover {
  background-color: whitesmoke;
}

ul {
  display: flex;
  align-self: flex-start;
  padding-inline-start: 5px;
}

.main-text {
  /* Body / 2 */
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* or 150% */

  /* Neutrals/N600 */
  color: #344563;
}

.linkedin {
  display: flex;
  height: 20px;
  width: 15px;
  background: #505f79;
}

li {
  padding: 8px;
  list-style: none;
}

.project-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: hsl(218, 54%, 20%);
}

.grid-container {
  display: grid;
  row-gap: 40px;
}

.grid-container img {
  transition: transform 1s;
}

.grid-container img:hover {
  transform: scale(1.25) rotate(-5deg);
}

.canopy {
  /* Text */

  width: 55px;
  height: 16px;

  /* Caption / 1 - Bolder */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height, or 123% */

  /* Neutrals/N600 */

  color: #344563;
}

.back-end {
  /* Caption / 1 - Bolder */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height, or 123% */

  /* Neutrals/N600 */

  color: #344563;
}

.date {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height, or 123% */

  /* Neutrals/N600 */

  color: #344563;
}

.small-button {
  /* Button / Small */
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  padding: 8px;
  background-color: #ebebff;
  border-radius: 8px;
  margin-right: 10px;

  /* identical to box height, or 133% */

  letter-spacing: 0.03em;

  /* Primary/B400 */

  color: #6070ff;
}

.grid-item {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;

  /* Neutrals/N0 */

  background: hsl(0, 0%, 100%);

  /* Neutrals/N40 */

  border: 1px solid hsl(223, 12%, 89%);
  border-radius: 16px;

  /* Inside auto layout */
  flex: auto;
}

.normal-button {
  /* Button /Normal */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border-radius: 8px;
  padding: 8px;
  border-color: #6070ff;
  background-color: white;

  /* identical to box height, or 141% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;

  /* Primary/B500 */

  color: hsl(223, 88%, 59%);

  /* Inside auto layout */

  flex-grow: 0;
}

.normal-button:hover {
  animation: shake infinite 3s;
}

@keyframes shake {
  from {
    background-color: whitesmoke;
  }

  50% {
    background-color: #a4adf7;
    color: white;
  }

  to {
    background-color: whitesmoke;
  }
}

.lang {
  /* Body / 1 - Bolder */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-left: 10px;

  /* identical to box height, or 120% */

  display: flex;
  align-items: center;
  color: hsl(0, 0%, 0%);
}

hr {
  height: 1px;
  background: hsl(223, 12%, 89%);
  border: none;
}

ul.languages {
  display: flex;
  flex-direction: column;
}

.framework {
  /* Body / 1 - Bolder */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-left: 10px;

  /* identical to box height, or 120% */

  display: flex;
  align-items: center;
  color: hsl(0, 0%, 0%);
}

a {
  text-decoration: none;
  color: #7f8cff;
}

.hamburger-button {
  border: none;
  margin-top: 15px;
  padding: 5px;
}

form ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 0%;
  background: url('images/contact-form-shapes-mobile@2x.png') hsl(234, 100%, 69%);
  align-items: center;
  padding: 24px;
}

footer .main-text {
  height: 102px;
  left: 24px;
  line-height: 28px;

  /* or 140% */

  text-align: center;

  /* Primary/B50 */

  color: hsl(240, 100%, 96%);
}

form 

form input {
  /* Mono/White */
  background: hsl(0, 0%, 100%);
  padding: 8px;

  /* Base/100 */

  border: 1px solid hsl(198, 16%, 84%);
  border-radius: 8px;
}

form textarea {
  background: hsl(0, 0%, 100%);
  width: 350px;
  height: 170px;
  padding: 10px;

  /* Base/100 */

  border: 1px solid hsl(198, 16%, 84%);
  border-radius: 8px;
}

.get-in-touch {

  /* Button /Normal */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;

  /* identical to box height, or 141% */

  /* Primary/B400 */

  color: hsl(234, 100%, 69%);
}

button.get-in-touch {

  /* Neutrals/N0 */

  background: hsl(0, 0%, 100%);
  border: none;
  border-radius: 8px;
  margin-left: 24px;
}
