@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background: hsl(0, 0%, 90%);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
  background: white;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

h1 {
  display: flex;
  font-family: 'Poppins', sans-serif;
  margin-top: 8rem;
  margin-bottom: 0%;
  font-weight: 700;
  font-size: 40px;
}

h1.contact {
  /* Header / 2 */

  line-height: 5.2rem;

  /* Neutrals/N0 */
  color: hsl(0, 0%, 100%);
}

img {
  display: flex;
}

.main-content {
  display: flex;
  padding: 3rem;
  padding-top: 10rem;
  padding-bottom: 30rem;
  flex-direction: column;
  background: url('images/header-shapes mobile.png') no-repeat, url('images/header-background-mobile.svg') no-repeat;
  background-size: cover;
}

.logo-container {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.25rem;

  /* Primary/B400 */

  color: #6070ff;
}

.logo-container a:hover {
  color: #5968f0
}

.logo-container a:active {
  color: #256ada;
}

.connect {
  /* Body / 2 - Bolder */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  margin-left: 0.8rem;

  /* identical to box height, or 150% */

  /* Primary/B300 */

  color: #7f8cff;
}

button {
  border-radius: 0.8rem;
  background: none;
}

button:hover {
  background-color: whitesmoke;
}

ul {
  display: flex;
  align-self: flex-start;
  padding-inline-start: 0.5rem;
}

ul.desktop-visible {
  display: none;
}

.main-text {
  /* Body / 2 */
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;

  /* or 150% */

  /* Neutrals/N600 */
  color: #344563;
}

.myself {
  background: url('images/myself-mobile.png');
  background-size: cover;
  padding: 2.5rem;
}

.project-text {
  /* Body / 2 */
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;

  /* or 150% */

  /* Neutrals/N600 */
  color: #344563;
}

.linkedin {
  display: flex;
  height: 2rem;
  width: 1.5rem;
  background: #505f79;
}

li {
  padding: 1rem;
  list-style: none;
}

.project-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.4rem;
  color: hsl(218, 54%, 20%);
}

.grid-container {
  display: grid;
  row-gap: 5rem;
  padding: 2.5rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.grid-container img {
  transition: transform 1s;
}

.grid-container img:hover {
  transform: scale(1.25) rotate(-5deg);
}

.canopy {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.6rem;
  margin-left: 0;
  padding-left: 0;

  /* identical to box height, or 123% */

  /* Neutrals/N600 */

  color: #344563;
}

.back-end {
  /* Caption / 1 - Bolder */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: hsl(218, 13%, 48%);
  font-size: 1.3rem;
  line-height: 1.6rem;
}

.down {
  height: 1.2rem;
  width: 1.2rem;
  background: none;
  border: none;
  border-style: none;
}

.date {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: hsl(218, 13%, 48%);
  font-size: 1.3rem;
  line-height: 1.6rem;
}

.small-button {
  /* Button / Small */
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.6rem;
  padding: 0.8rem;
  background-color: #ebebff;
  border-radius: 0.8rem;
  margin-right: 1rem;

  /* identical to box height, or 133% */

  letter-spacing: 0.03em;

  /* Primary/B400 */

  color: #6070ff;
}

.grid-item {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem;
  padding-bottom: 2rem;
  gap: 1.2rem;

  /* Neutrals/N0 */

  background: hsl(0, 0%, 100%);

  /* Neutrals/N40 */

  border: 1px solid hsl(223, 12%, 89%);
  border-radius: 16px;

  /* Inside auto layout */
  flex: auto;
}

.normal-button {
  /* Button /Normal */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.4rem;
  border-radius: 0.8rem;
  padding: 0.8rem;
  border-color: #6070ff;
  background-color: white;

  /* identical to box height, or 141% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;

  /* Primary/B500 */

  color: hsl(223, 88%, 59%);

  /* Inside auto layout */

  flex-grow: 0;
}

.last-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.normal-button:hover {
  animation: shake infinite 3s;
}

@keyframes shake {
  from {
    background-color: whitesmoke;
  }

  50% {
    background-color: #a4adf7;
    color: white;
  }

  to {
    background-color: whitesmoke;
  }
}

.lang {
  /* Body / 1 - Bolder */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  margin-left: 1rem;

  /* identical to box height, or 120% */

  display: flex;
  align-items: center;
  color: hsl(0, 0%, 0%);
}

hr {
  height: 0.1rem;
  background: hsl(223, 12%, 89%);
  border: none;
}

.languages {
  display: flex;
  flex-direction: column;
}

.framework {
  /* Body / 1 - Bolder */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  margin-left: 1rem;

  /* identical to box height, or 120% */

  display: flex;
  align-items: center;
  color: hsl(0, 0%, 0%);
}

a {
  text-decoration: none;
  color: #7f8cff;
}

.hamburger-button {
  border: none;
  margin-top: 1.5rem;
  padding: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-self: center;
  align-items: flex-start;
  margin-top: 1.5rem;
}

footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 0%;
  background: url('../images/contact-form-shapes-mobile.svg') right no-repeat, url('../images/contact-me-mobile.png') no-repeat, white;
  background-size: cover;
  align-items: center;
  padding: 2.4rem;
  font: 'Poppins', sans-serif;
}

div.main-text {
  left: 2.4rem;
  font-size: 2rem;
  padding: 2rem;
  padding-top: 0%;

  /* or 140% */

  text-align: center;

  /* Primary/B50 */

  color: hsl(240, 100%, 96%);
}

input {
  /* Mono/White */
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2rem;
  color: hsl(218, 54%, 20%);
  margin-bottom: 2rem;
  background: hsl(0, 0%, 100%);
  padding: 1rem;
  width: 95%;
  border: 0.1rem solid hsl(198, 16%, 84%);
  border-radius: 0.8rem;
}

textarea {
  display: flex;
  flex-wrap: nowrap;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  background: hsl(0, 0%, 100%);
  width: 95%;
  padding: 1.5rem;
  padding-bottom: 7rem;
  margin-bottom: 2rem;
  border: 0.1rem solid hsl(198, 16%, 84%);
  border-radius: 0.8rem;
}

.inputstyle {
  font: 'Poppins', sans-serif;
}

.get-in-touch {
  /* Button /Normal */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.4rem;

  /* identical to box height, or 141% */

  /* Primary/B400 */

  color: hsl(234, 100%, 69%);
}

button.get-in-touch {
  /* Neutrals/N0 */

  background: hsl(0, 0%, 100%);
  border: none;
  border-radius: 0.8rem;
  padding: 1rem;
  margin-bottom: 2.5rem;
}

.desktop-visible {
  display: none;
}

.down-icon {
  left: 25%;
  right: 25%;
  top: 37.5%;
  bottom: 37.5%;
  border: 2px solid hsl(211, 16%, 72%);
}

.normal-icon {
  left: 41.67%;
  right: 33.33%;
  top: 25%;
  bottom: 25%;
  border: 2px solid hsl(211, 16%, 72%);
}

@media screen and  (min-width: 768px) {
  .mobile-visible {
    display: none;
  }

  .desktop-visible {
    display: contents;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem;
    gap: 12rem;
  }

  .grid-item {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 6rem;
  }

  .project-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding-bottom: 2rem;
    max-width: 50%;
    align-self: flex-end;
  }

  .project-image {
    min-width: 50%;
  }

  .project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .sub-myself {
    display: flex;
    align-items: baseline;
    align-self: center;
    padding: 13rem;
    padding-left: 15rem;
    padding-bottom: 16rem;
    gap: 3.7rem;
  }

  ul.nav-menu {
    display: flex;
    display: row;
    flex-wrap: nowrap;
    min-width: fit-content;
    font-size: 15px;
    color: #344563;
    gap: 1.5rem;
    font-weight: 400%;
  }

  li.nav-menu {
    padding: 1rem;
  }

  .main-text {
    font-size: 2rem;
  }

  ul .main-text {
    font-size: 16px;
  }

  h1.intro {
    font-size: 4.8rem;
  }

  .main-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .main-content {
    background: url('images/header-bg-desktop.png'), url('images/header-background-desktop.svg');
    background-size: cover;
    align-self: center;
    padding-top: 25rem;
    padding-bottom: 22.5rem;
    margin-bottom: 4rem;
  }

  .my-info {
    width: 40%;
  }

  .my-tech {
    width: 60%;
  }

  .myself {
    background: url('images/myself-background-desktop.svg');
    background-size: cover;
    align-self: center;
    align-items: center;
    padding: 0.2rem;
  }

  ul.languages {
    display: flex;
    flex-direction: row;
    padding-right: 10rem;
  }

  ul.mobile-visible {
    display: none;
  }

  .subcontainer {
    display: flex;
    flex-direction: column;
    max-width: 30%;
  }

  .sub {
    max-width: 60%;
    align-self: center;
  }

  form {
    align-items: center;
    align-self: center;
  }

  input {
    border-radius: 0;
  }

  textarea {
    border-radius: 0;
  }

  footer {
    background: url('images/contact-desktp-background-shapes@1x.png') no-repeat, url('images/contact-form-desktop.svg') no-repeat, white;
    background-size: cover;
    padding: 6rem;
  }

  h1.contact {
    align-self: center;
  }

  header {
    margin-top: 0%;
    padding-top: 0%;
    background: white;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 2rem;
  }

  .small-button {
    font-size: 12px;
  }

  .normal-button {
    font-size: 17px;
    border-width: 1px;
    padding: 1rem;
  }

  .item2 {
    flex-direction: row-reverse;
  }

  .item4 {
    flex-direction: row-reverse;
  }

  .project-details {
    align-items: center;
    margin-left: 0;
    padding-left: 0;
  }

  .canopy {
    font-size: 18px;
    font-weight: 500;
  }
}
