.container {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

h1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  margin-top: 80px;
  margin-bottom: 0%;
  font-weight: 1100;
}

.main-content {
  display: flex;
  padding: 10px;
  flex-direction: column;
}

.logo-container {
  /* My Logo */

  width: 4.75rem;
  height: 1.25;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.25rem;

  /* identical to box height, or 111% */

  display: flex;
  align-items: center;
  text-align: center;

  /* Primary/B400 */

  color: #6070ff;

  /* Inside auto layout */

  flex: auto;
  order: 0;
  flex-grow: 0;
}

.connect {
  /* Body / 2 - Bolder */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 8px;

  /* identical to box height, or 150% */

  /* Primary/B300 */

  color: #7f8cff;
}

button:hover {
  background-color: aqua;
}

ul {
  display: flex;
  align-self: flex-start;
  padding-inline-start: 5px;
}

.main-text {
  /* Body / 2 */
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* or 150% */

  /* Neutrals/N600 */
  color: #344563;
}

.linkedin {
  display: flex;
  height: 20px;
  width: 15px;
  background: #505f79;
}

li {
  padding: 8px;
  list-style: none;
}

